.about{
    
    margin-left: 45px;
   text-align: center;
    padding-top:50px;
  
}
#about{
    color: black;
    background: whitesmoke;
    font-weight: bold;
}

#about:hover{
    font-weight: bolder;
    color: white;
    background:#c73039;
    transition:0.5s ;
}
#education{
    color: black;
     background: whitesmoke;
    margin-right: 20px;
    font-weight: bold;
}
#education:hover{
    font-weight: bolder;
    color: white;
    transition:0.5s ;
    background:#c73039;
}


.about > p,h5{
    margin-top:20px;
    text-align: center;
    
}


#intro{
    
    margin-left:25px;
}
/* #aboutme:hover{
    width:71%;
    transition-property:all;
    transition:1s linear;

} */
.intro-card-hover{
    background: orangered;
}

@media (max-width:768px){

    #about{
         margin-left: -20px;   
        font-weight: bold;
    }

    #education{
       
        font-weight: bold;
    }

}
@media (min-width:300px){

    #about{
         margin-left: -20px;   
        font-weight: bold;
    }

    #education{
        margin-left: -20px;  
        font-weight: bold;
    }
    #edu-icon{
        margin-left: -20px;  
    }

}