.about{
    background-color: whitesmoke;
    margin-left: 20px;
   text-align: center;
    padding-top:50px;
  
}
#about{
    box-shadow: 1px 1px 1px black;
    color: white;
    background: #0e1f47;
    font-weight: bold;
}

#about:hover{
    font-weight: bolder;
    color: black;
    background:white;
    transition:0.5s ;
}
#education{
    box-shadow: 1px 1px 1px 1px black;
    color: white;
     background:#0e1f47;
    margin-right: 20px;
    font-weight: bold;
}
#education:hover{
    font-weight: bolder;
    color: black;
    transition:0.5s ;
    background:white;
}


.about > p,h5{
    margin-top:20px;
    text-align: center;
    
}
#my-education{
    font-size:18px;
    text-align: center;
    margin-left:8px;
}

#intro{
    
    margin-left:25px;
}
/* #aboutme:hover{
    width:71%;
    transition-property:all;
    transition:1s linear;

} */
.intro-card-hover{
    background: #0e1f47;
}

@media (max-width:768px){

    #about{
         margin-left: -20px;   
        font-weight: bold;
    }

    #education{
       
        font-weight: bold;
    }

}
/* @media (min-width:300px){

    #about{
         margin-left: -20px;   
        font-weight: bold;
    }

    #education{
        margin-left: -20px;  
        font-weight: bold;
    }
    #edu-icon{
        margin-left: -20px;  
    }

} */