body{
    font-weight: lighter;
}
#card1:hover{
background:whitesmoke;
}
#card2:hover{
    background:whitesmoke;
    
}
#card3:hover{
    background:whitesmoke;
    
}    

#card4:hover{
    background:whitesmoke;
    
}


#card1{
   margin-left:50px;
    }
    #card2{
        margin-left:50px;
    }
    #card3{
        margin-left:50px;
        
    }    
    
    #card4{
        margin-left:50px;
        
    }

    @media (max-width:568px){

             #card1{
            margin-left:10px;
             }
             #card2{
                margin-left:10px;
             }
             #card3{
                margin-left:10px;
                 
             }    
             
             #card4{
                margin-left:10px;
                 
             }
    }

    @media (max-width:736px){

        #card1{
       margin-left:50px;
        }
        #card2{
            margin-left:50px;
        }
        #card3{
            margin-left:50px;
            
        }    
        
        #card4{
            margin-left:50px;
            
        }
}

@media (max-width:812px){

    #card1{
        margin-left:25px;
    }
    #card2{
        margin-left:25px;
    }
    #card3{
        margin-left:25px; 

        
    }    
    
    #card4{
        margin-left:25px; 

    }
}