.intro{
    text-align: center;
}
.intro-img{
    text-align: center;
}
#profession{
    font-weight: 600;
    color: black;
}
#greetings{
    margin-left: 50px;
    margin-top:50px;
    margin-bottom:50px;
    color:black;
    font-weight: 400;
    font-size: 30px;
}
#name{
    padding-top:0;
    margin-left: 15px;
    margin-top:20px;
    margin-bottom:50px;
    color:#ff4f5a ;
    font-weight: 650;
    font-size: 30px;
}



#cv-btn button{
    padding:10px 25px 10px 25px;
    font-weight:400;
    background: transparent;
    color: black;
    text-align: center;
}
#cv-btn button:hover{
    transition-delay:1s;
    text-align: center;
    padding-right: 25px;
    padding-left: 25px;
    margin-left:15px;
    transition:1s;
    color: white;
    background:red;
}
.main-heading {
    text-align: center;
}