.navbar{
  background:#fff;
}
.navbar-brand{
  color:black;
  text-decoration: none;

  padding:5px 30px;
  background:transparent;
  border-radius:8%;
}
.navbar-brand:hover{
  background:whitesmoke;

  transition:1s;
}
/* .navbar-brand:hover{

  color:white;
  transition:1s;
} */
.navbar-nav .nav-link button {
  color:black;
  background:transparent;
  border:none;
  
  font-size: 20px;
}
.navbar-nav .nav-link button:hover {
  background:#ff4f5a;
  color:white;
  transition:0.5s;
}
@media (max-width:768px){
.navbar-collapse{
  text-align: center;
  background:white;
  color:white;  
  
}
.navbar-nav .nav-link { 
  padding-bottom: 25%;
  font-size:20px;
  color: white;
}
#aboutme{
  width:100%;
}
#greetings{
  
  margin-top:50px;
  margin-bottom:50px;
  color:black;
  font-weight: 400;
  font-size: 18px;
}
#name{
  
  margin-top:50px;
  margin-bottom:50px;
  color:black;
  font-weight: 400;
  font-size: 18px;
}

}
.main-nav-active button{
  background:black;
  
}